
h1 {
    text-align: center;
	font-family: 'Satisfy', cursive;
	
}

p {
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}

html {
	min-height:100%;
}

body {
	min-height: 100vh;
}

.lewy {
	background-color: #dae1e8;
	float: left;
	width: 20%;
	height:100vh;
}

.glowny {
	background-color: #dbdbdb;
	width:10px;
	float: left;
	width: 60%;
	height: 100vh;
}

.prawy {
	background-color: #dae1e8;
	float: right;
	width: 20%;
	height:100vh;
}

img {
	width: 100%;
	height: 500px;
}

.stopka {
	position: absolute;
 	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}